.tableContainer {
  max-height: 400px;
  margin: 30px;
  overflow-y: auto;
}

.tableHeader {
  position: sticky;
  top: 0;
  z-index: 1;
  line-height: 3;
  color: var(--galv-white);
  background: var(--galv-darkgrey);
}

.tableHeader table {
  border-collapse: collapse;
  width: 100%;
}

.tableBody table {
  border-collapse: collapse;
  width: 100%;
}

.column1,
.column2,
.column3,
.column4,
.column5,
.column6 {
  display: table-cell;
  vertical-align: inherit;
  width: 260px;
  text-align: center; /* Updated: Center align the content */
}

.column1 {
  padding-left: 40px;
}

.column2 {
  padding-left: 120px;
}

.column3 {
  padding-left: 200px;
}

.column4 {
  width: 500px;
  padding-left: 80px;
}

tbody tr {
  font-weight: unset;
}

tbody tr:hover {
  cursor: pointer;
  background-color: #dadada;
}

tbody tr td {
  text-align: center; /* Updated: Center align the content */
  height: 80px; /* Increase this value to make the rows taller */
}

.no-information {
  color: var(--galv-white);
}

.tableBody {
  background-color: #8e8e8e4e;
  color: var(--galv-darkgrey);
  margin-top: -10px;
  width: 100%;
  border-collapse: collapse;
}
