.footer-container {
  background-color: var(--galv-white);
  width: 100%;
  border-top: 2px solid #c8c8c8;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 40px;
  margin-top: 400px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
  /* Add any other styles specific to your footer */
}
