.overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.562);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
  }
  
  .overlay.open {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0s linear;
  }
  
  .modal-cont {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    position: fixed;
    width: 1000px;
    height: 700px;
    background-color: var(--galv-purple);
   
    z-index: 999;
    border-radius: 30px;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%) translateX(0px);
  }
  
  .overlay.open .modal-cont {
    transform: translateY(-1%) translateX(0px);
  }

  .current-view-cont {
    display: flex;
    justify-content: center;
    align-content: center;
    border-right: 2px solid var(--galv-white);
    padding: 20px;
    width: 500px;
    height: 400px;
    margin-top: 150px;
    color: var(--galv-white);
  }

  .current-view-cont span {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2.0rem;
  }
  
  .current-view-cont b {
    font-size: 2.5rem;
  }

  .dropdown-cont {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
   
  }

  .dropdown-cont h5 {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 150px;
    margin-left: 5px;
    color: var(--galv-white);
    font-size: 1.7rem;
  }

  .dropdown-cont ul {
    position: static;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    list-style: none;
    width: 250px;
    transform: translateX(70px) translateY(50px);
    border: 2px solid var(--galv-white);
  }

  .dropdown-cont li {
    cursor: pointer;
    font-size: 1.6rem;
    margin: 10px;
    padding: 10px;
    color: var(--galv-white);
    font-weight: var(--light);
    border-bottom: 1px solid var(--galv-white);
  }


.warning-cont {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 600px;
  transform: translateY(150px) translateX(-110px);
}

.warning-cont span {
  font-size: .8rem;
  font-weight: var(--regular);
  color: var(--galv-white);
}