.nav-container {
    background-color: var(--galv-white);
    width: 100%;
    height: 70px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-and-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.galv-logo{
    width: 50px;
    height: 50px;
    margin: 10px 20px;
    cursor: pointer;
    transition: 1s ease-in-out;
}

.galv-logo:hover {
    transform: rotate(180deg);
}

.nav-title {
    color: var(--galv-darkgrey);
    font-weight: var(--regular);
    font-size: 1.6rem;
}

.sign-out-button-container {
    margin-right: 60px;
}

.sign-out-btn {
    font-size: 1.1rem;
    padding: 6px 17px;
    border: none;
    color: var(--galv-white);
    background-color: var(--galv-orange);
    border-radius: 30px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.sign-out-btn:hover {
    background-color: var(--galv-purple);
}