.sidemenu-container {
  position: fixed;
  top: 0;
  width: 200px;
  height: 100vh;
  background-color: var(--galv-white);
  border-right: 2px solid #c8c8c8;
  z-index: 999;
}

.sidemenu-container.visible {
  left: 0px;
  right: 200px;
  z-index: 998;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(94, 94, 94, 0.5);
  z-index: 998;
}

.menu-container {
  color: var(--galv-darkgrey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-title {
  font-size: 2.1rem;
  font-weight: var(--medium);
  padding: 15px 0px 80px 0px;
}

.select-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.select-container li {
  padding: 15px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.select-container li:hover {
  color: #989898;
}

.options-btn-cont {
  cursor: pointer;
  position: absolute;
  margin-top: 140px;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
  width: 150px;
  height: 70px;
  /* transform: scale(1.3); */
  background-color: var(--galv-orange);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  transition: 0.3s ease-in;
}

.options-btn {
  z-index: 10;
  cursor: pointer;
  background-color: var(--galv-white);
  color: var(--galv-orange);
  border-radius: 30px;
  padding: 2px 15px;
  font-size: 1.3rem;
  height: 30px;
  font-weight: var(--medium);
  transition: 0.3s ease-in;
}

.options-btn:hover {
  color: var(--galv-purple);
}

.options-btn-cont:hover {
  background-color: var(--galv-purple);
}

.logo-and-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px 80px 0px;
}

.galv-logo {
  width: 50px;
  height: 50px;
  margin: 10px 20px;
  cursor: pointer;
  transition: 1s ease-in-out;
}

.galv-logo:hover {
  transform: rotate(180deg);
}

.nav-title {
  color: var(--galv-darkgrey);
  font-weight: var(--medium);
  font-size: 1.2rem;
}

.sign-out-button-container {
  margin-top: 170px;
}

.sign-out-btn {
  font-size: 1rem;
  padding: 6px 17px;
  border: none;
  color: var(--galv-white);
  background-color: var(--galv-orange);
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.sign-out-btn:hover {
  background-color: var(--galv-purple);
}
