#DashboardMenu {
  z-index: 1;
  /* border: 1px solid red; */
  background: linear-gradient(
    96deg,
    transparent 3.8vw,
    rgba(27, 102, 200, 0.416) 6vw,
    rgba(0, 30, 90, 0.832) 94vw,
    transparent 100vw
  );
  box-shadow: -10px 10px 10px 0.1px rgba(0, 0, 0, 0.425) inset;
  box-shadow: 0 0 10px 1px black, 0 0 1px 0.2px rgba(255, 255, 255, 0.248) inset;
  /* padding: 5px; */
  border: 2px;
  /* height: 30px; */
  display: flex;
  justify-content: center;
  border-radius: 0 0 50px 50px;
  /* tab back in when finished */
  width: 95.5%;
  /* backdrop-filter: blur(2px); */
}

.button-cont {
  z-index: -1;
  display: flex;
 
  align-items: center;
  /* tab back in when finished */
  width: 60%;
  margin: 15px;
  margin-left: 350px;
}