:root {
  --galv-blue: rgb(13, 15, 74);
  --galv-orange: rgb(239, 110, 71);
  --color1: rgb(255, 255, 255);
  --color2: rgb(0, 0, 0);
  --bgcolor1: rgba(132, 41, 13, 0.993);
  --bgcolor2: rgba(191, 45, 0, 0.959);
  --bgcolor3: rgba(27, 102, 200, 0.974);
  --bgcolor4: rgba(1, 50, 147, 0.951);
  --bgcolor5: rgba(0, 30, 90, 0.955);
  --bgcolor6: rgba(0, 30, 90, 0.99);
  --bgsize: 5px;
  --tablewidth: 90vw;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  width: 0.5vw;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    rgba(0, 140, 255, 0.632),
    rgba(0, 64, 255, 0.626)
  );
  border-radius: 10px;
}

#App {
  background: linear-gradient(135deg, var(--color1) 25%, transparent 25%),
    linear-gradient(225deg, var(--color1) 25%, transparent 25%),
    linear-gradient(315deg, var(--color1) 25%, transparent 25%),
    linear-gradient(45deg, var(--color1) 25%, transparent 25%);
  background-size: var(--bgsize) var(--bgsize);
  background-color: var(--color2);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

body {
  margin: 0;
}

* {
  overflow-x: hidden;
  color: rgb(255, 255, 255);
}

.building-block {
  border-radius: 10px;
  margin: 20px 25px;
  box-shadow: 0 0 10px 1px black, 0 0 1px 0.2px rgba(255, 255, 255, 0.248) inset;
  background: linear-gradient(
    transparent -20%,
    rgba(27, 102, 200, 0.626) 10%,
    rgba(1, 50, 147, 0.708) 90%,
    transparent 110%
  );
  height: auto;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.259);
  /* border: 1px solid rgb(255, 0, 0); */
}

/* ██████╗ ██████╗  ██████╗ ██████╗ ██████╗  ██████╗ ██╗    ██╗███╗   ██╗ */
/* ██╔══██╗██╔══██╗██╔═══██╗██╔══██╗██╔══██╗██╔═══██╗██║    ██║████╗  ██║ */
/* ██║  ██║██████╔╝██║   ██║██████╔╝██║  ██║██║   ██║██║ █╗ ██║██╔██╗ ██║ */
/* ██║  ██║██╔══██╗██║   ██║██╔═══╝ ██║  ██║██║   ██║██║███╗██║██║╚██╗██║ */
/* ██████╔╝██║  ██║╚██████╔╝██║     ██████╔╝╚██████╔╝╚███╔███╔╝██║ ╚████║ */
/* ╚═════╝ ╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═════╝  ╚═════╝  ╚══╝╚══╝ ╚═╝  ╚═══╝ */

.dropdown-container {
  display: flex;
  align-items: center;

 
}

.project-dropdown {
  margin: 2vw 0;
}

.dropdown {
  position: fixed;
  overflow-x: visible;
  height: fit-content;

}

.dropdown-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  left: 0;
  right: 0;
  height: auto;
  padding: 13px 20px;
  margin: -15px;
  z-index: 1;
}

.dropdown-list > div {
  padding: 5px;
  text-align: center;
  margin: 0px 0px 3px 0px;
  cursor: pointer;
  border-radius: 5px;
  background: linear-gradient(
    30deg,
    rgba(59, 24, 0, 0.8),
    rgba(0, 32, 78, 0.8)
  );
  backdrop-filter: blur(3px);
  box-shadow: 0 0 15px 1px black;
  border: 0.1px solid rgba(255, 255, 255, 0.3);
  transition: all 2s;
  z-index: 90;
}

button {
  font-size: 1em;
  text-align: center;
  margin: 5px;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 5px;
  /* border: 1px solid red; */
  background: linear-gradient(
    30deg,
    rgba(255, 102, 0, 0.204),
    rgba(0, 76, 183, 0.21)
  );
  /* z-index: 1; */
  backdrop-filter: blur(3px);
  box-shadow: 0 0 5px 1px black;
  border: 0.1px solid rgba(255, 255, 255, 0.3);
  /* transition: all 2s; */
}


#trashcan-svg {
  height: 20px;
  margin: 0 5px;
  padding: 0;
  filter: grayscale() brightness(50);
}
#trashcan-svg:hover {
  cursor: pointer;
  filter: brightness(1);
}

button:hover {
  background: linear-gradient(
    30deg,
    rgba(0, 76, 183, 0.21),
    rgba(255, 102, 0, 0.204)
  );
  backdrop-filter: blur(1px);
  box-shadow: 0 0 5px 0.1px black inset;
}

.dropdown-list > div:hover {
  background: linear-gradient(
    30deg,
    rgba(0, 76, 183, 0.21),
    rgba(255, 102, 0, 0.204)
  );
  backdrop-filter: blur(1px);
  box-shadow: 0 0 20px 0.1px black inset;
}

.dropdown-header {
  font-size: 1em;
  text-align: center;
  margin: 5px;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 5px;
  /* border: 1px solid red; */
  background: linear-gradient(
    30deg,
    rgba(255, 102, 0, 0.204),
    rgba(0, 76, 183, 0.21)
    );
    /* z-index: 1; */
    backdrop-filter: blur(3px);
    box-shadow: 0 0 5px 1px black;
    border: 0.1px solid rgba(255, 255, 255, 0.3);
    /* transition: all 2s; */
    z-index: -1;
}

