:root {
  --galv-blue: rgb(13, 15, 74);
  --galv-orange: rgb(239, 110, 71);
  --color1: rgb(255, 255, 255);
  --color2: rgb(0, 0, 0);
  --bgcolor1: rgba(132, 41, 13, 0.993);
  --bgcolor2: rgba(191, 45, 0, 0.959);
  --bgcolor3: rgba(27, 102, 200, 0.974);
  --bgcolor4: rgba(1, 50, 147, 0.951);
  --bgcolor5: rgba(0, 30, 90, 0.955);
  --bgcolor6: rgba(0, 30, 90, 0.99);
  --bgsize: 10px;
}

::-webkit-scrollbar {
  /* all: unset; */
  width: 0.5vw;
  /* background: transparent; */
}
::-webkit-scrollbar-thumb {
  /* width: 10px; */
  background: linear-gradient(
    rgba(0, 140, 255, 0.632),
    rgba(0, 64, 255, 0.626)
  );
  border-radius: 10px;
}

body {
  margin: 0;
  /* padding: 1rem; */
  font-size: 10px;
}

* {
  overflow-x: hidden;
  color: rgb(255, 255, 255);
  font-size: 1vw;
  /* font-size: larger; */
}

button,
select {
  /* all: unset; */
  background: linear-gradient(
    30deg,
    rgba(28, 28, 28, 0.692),
    rgba(56, 56, 56, 0.659)
  );
  box-shadow: 0 0 1px 0.1px rgba(255, 255, 255, 0.171) inset, 0 0 0px 0px black;
  border-radius: 5px;
  margin: 5px;
  padding: 1px 5px;
  font-family: inherit;
  font-size: 1.2em;
  /* color: rgb(0, 0, 0); */
  transition: all 50ms;
}
select * {
  all: unset;
  background-color: rgb(0, 59, 131);
}

/* option {
  all: unset;
  background-color: rgb(109, 0, 0);
  margin: 5px;
} */

button:hover {
  scale: 1.05 1.05 1;
  box-shadow: -1px -1px 1px 0.1px rgba(255, 255, 255, 0.579) inset,
    0.1px 0.1px 1px 1px rgba(255, 255, 255, 0.579), 1px 1px 2px 0.1px black;
}

#App {
  background: linear-gradient(135deg, var(--color1) 25%, transparent 25%),
    linear-gradient(225deg, var(--color1) 25%, transparent 25%),
    linear-gradient(315deg, var(--color1) 25%, transparent 25%),
    linear-gradient(45deg, var(--color1) 25%, transparent 25%);
  background-size: var(--bgsize) var(--bgsize);
  background-color: var(--color2);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.building-block {
  height: 30vh;
  width: 40vw;
  border-radius: 10px;
  margin: 20px 25px;
  padding: 20px;
  box-shadow: 0 0 10px 1px black, 0 0 1px 0.2px rgba(255, 255, 255, 0.248) inset;
  /* margin: 10px; */
  background: linear-gradient(
    transparent -20%,
    rgba(27, 102, 200, 0.626) 10%,
    rgba(1, 50, 147, 0.708) 90%,
    transparent 110%
  );
  /* border: 1px solid rgb(255, 0, 0); */
}

.task {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 2px;
  max-width: 200px;
}

.task + .task {
  margin-top: 4px;
}

.task > * + * {
  margin-left: 4px;
}
