#Body {
  background: linear-gradient(96deg, var(--bgcolor1) 6.5vh, var(--bgcolor2) 8.1vh, var(--bgcolor5) 4.2vw, var(--bgcolor3));
  box-shadow: 0 0 10px 1px rgb(0, 0, 0) inset;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  font-size: large;
  transition: all 100ms;
  /* flex-direction: row; */
}
