#Body {
  background: linear-gradient(
    96deg,
    var(--bgcolor1) 6.5vh,
    var(--bgcolor2) 8.1vh,
    var(--bgcolor5) 4.2vw,
    var(--bgcolor3)
  );
  box-shadow: 0 0 10px 1px rgb(0, 0, 0) inset;
  flex-grow: 1;
  /* height: fit-content; */
  display: flex;
  /* gap: 10px; */
  padding-bottom: 5px;
  justify-content: space-between;
  font-size: large;
  transition: all 100ms;
}

#galvlogo {
  position: absolute;
  left: calc(50vw - 25vh);
  top: calc(25vh);
  height: 50vh;
  opacity: 5%;
  /* border: 1px solid rgb(0, 0, 0); */
  box-shadow: 0 0 1px 19px rgb(239, 110, 71) inset,
    0 0 1px 0px rgb(255, 255, 255);
  background: radial-gradient(
    white 65px,
    transparent 65px,
    transparent 86px,
    rgb(239, 110, 71) 86px,
    rgb(239, 110, 71) 106px,
    transparent 106px
  );
  border-radius: 50%;
  /* scale: 3 3 3; */
  filter: blur(1px) drop-shadow(0px -100px 1px rgb(0, 0, 0))
    drop-shadow(0px 100px 1px rgb(0, 0, 0))
    drop-shadow(-100px 0px 1px rgb(0, 0, 0))
    drop-shadow(100px 0px 1px rgb(0, 0, 0));

  animation: rotation 40s infinite linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    filter: blur(1px) drop-shadow(0px -0px 1px rgb(0, 0, 0))
      drop-shadow(0px 0px 1px rgb(0, 0, 0))
      drop-shadow(-0px 0px 1px rgb(0, 0, 0))
      drop-shadow(0px 0px 1px rgb(0, 0, 0));
    scale: 1.1 1.1 0.5;
    /* opacity: 50%; */
  }
  100% {
    /* scale: 0 0 0; */
    /* z-index: 1; */
    transform: rotate(360deg);
  }
}
