#Footer {
  background: linear-gradient(
    45deg,
    var(--bgcolor3) 0vw,
    var(--bgcolor4) 40vw,
    var(--bgcolor6) 55vw
  );
  /* height: 40px; */
  /* width: 500px; */
  z-index: 1;
  box-shadow: 0 0 1px 0.1px rgba(255, 255, 255, 0.541) inset;
  transition: all 100ms;
  overflow: hidden;
  display: flex;
  align-items: baseline;
  /* justify-content: center; */
  /* padding: 5px; */
}

#Footer:hover {
  /* align-items: center; */
  /* height: 100px; */
  backdrop-filter: blur(2px);
}

#footer-text {
  margin: 5px;
  font-size: 0.8vw;
}
