/* parent container */

.login-container {
  /* border: solid 0.5px red; */
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  box-sizing: content-box;
  color: rgb(41, 43, 44);
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  flex-grow: 5;
  flex-shrink: 0;
  height: 520.375px;
  line-height: 24px;
  margin: 16px 50px 16px 650px;
  margin-top: 140px;
  max-width: 495px;
  min-height: auto;
  min-width: 0px;
  padding: 40px;
  width: 439px;
  overflow: hidden;
}

.login-subcontainer {
  /* border: solid 0.5px red; */
  box-sizing: border-box;
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  flex-grow: 5;
  overflow: hidden;
}

.login-image-container {
  /* border: solid 0.5px red; */
  display: block;
  height: 48.7875px;
  margin-bottom: 24px;
  width: 436px;
  overflow: hidden;
}

.login-image {
  /* border: solid 0.5px red; */
  max-width: 250px;
  margin: 0 80px 0 80px;
  vertical-align: middle;
  overflow: hidden;
}

.login-sign-in-text {
  /* border: solid 0.5px red; */
  color: #292b2c;
  letter-spacing: 0.3px;
  font-family: sans-serif;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  margin: 10px 55px 0px 55px;
  line-height: 1.14;
  overflow: hidden;
}

.sign-in-form-container {
  overflow: hidden;
}

.login-input {
  border: solid 0.1px gray;
  border-radius: 4px;
  background-color: #e8f0fe;
  color: black;
  width: 93%;
  padding: 0.5rem 0.75rem;
  line-height: 1.25;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0px 10px 0px;
  overflow: hidden;
}

.login-button-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow: hidden;
}

.login-button {
  /* border: solid 0.5px red; */
  text-transform: uppercase;
  border-radius: 40px;
  background-color: #00808c;
  border-color: #00808c;
  margin: 10px 0px;
  overflow: hidden;
}

.forgetYourPW {
  /* border: solid 0.5px red; */
  color: #00808c;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0px 0px 0px;
  overflow: hidden;
}

.or-sign-in-text {
  /* border: solid 0.5px red; */
  color: #292b2c;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
}

.login-github-container {
  /* border: solid 1px red; */
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 4px 1px 14px 1px;
  height: 15px;
  width: 436px;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 13px 0px;
  overflow: hidden;
}

.login-github-link {
  color: #00808c;
  text-decoration-line: none;
  overflow: hidden;
}

/* Register Page Specific  */

.register-header-text {
  color: rgb(50, 41, 106);
  text-align: center;
  overflow: hidden;
}

.register-full-name-text,
.register-email-text,
.register-pw-text,
.register-verify-pw-text {
  color: rgb(51, 48, 46);
  overflow: hidden;
}

.register-header-container,
.register-form-container {
  overflow: hidden;
}
