#login-root {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  height: 100vh;
}

.login-container {
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  color: rgb(41, 43, 44);
  display: flex;
  flex-direction: column;
  padding: 50px;
  min-width: 25vw;
}

.login-image-container {
  margin: -20px 0 0 0;
}

.login-image {
  max-width: 250px;
  margin: 0 80px;
}

.login-sign-in-text {
  color: #292b2c;
  letter-spacing: 0.3px;
  font-family: sans-serif;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  margin: 10px 55px -30px 55px;
}

.login-input {
  all: unset;
  border: solid 0.1px rgba(0, 0, 0, 0.277);
  border-radius: 4px;
  color: #464a4c;
  width: 93%;
  padding: 0.5rem 0.75rem;
  line-height: 1.25;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0px 10px 0px;
  overflow: hidden;
}

.login-input:focus {
  border: 0.1px solid #00808c;
}

.login-button-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow: hidden;
}

.login-button {
  all: unset;
  text-align: center;
  box-shadow: none;
  text-transform: uppercase;
  border-radius: 40px;
  background-color: #00808c;
  border-color: #00808c;
  margin: 10px 0;
  font-size: 14px;
  padding: 9px;
}

.login-button:hover {
  background-image: none;
  box-shadow: none;
  background-color: #292b2c;
}

.forgetYourPW {
  color: #00808c;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
}

span.or-sign-in-text {
  display: flex;
  align-items: center;
  flex: 0;
  color: #292b2c;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 15px 0;
}
span.or-sign-in-text:before,
span.or-sign-in-text:after {
  flex: auto;
  height: 0;
  margin: 10px 10px;
  border-top: 2px solid #e6e6e6;
  content: "";
}

.login-github-container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 10px;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin: 13px 1px;
}

.login-github-link {
  color: #00808c;
  text-decoration-line: none;
  overflow: hidden;
}

.error-text {
  color: var(--galv-orange);
  margin: 40px 0 0px 0;
  text-align: center;
}

/* Register Page Specific  */

#register-root {
  background-color: #fafafa;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
