#navbar {
  background: linear-gradient(45deg, var(--bgcolor1) 4.8vh, var(--bgcolor2) 5.8vh, var(--bgcolor3) 3vw, var(--bgcolor4) 30vw, var(--bgcolor6) 40vw);
  box-shadow: 0 0 1px 0.1px rgba(255, 255, 255, 0.541) inset;
  /* border: 1px solid red; */
  height: 3vw;
  display: flex;
  align-items: center;
  gap: 10px;
  /* justify-content: space-evenly; */
  overflow: hidden;
  transition: all 100ms;
}

#galvanize-logo {
  /* border: 1px solid red; */
  height: 2.5vw;
  margin-left: 15px;
  /* animation: spin 2s; */
  transition: all 0.5s;
  z-index: 1;
}

#galvanize-logo:hover {
  transform: rotate(-45deg);
  scale: 1.2 1.2 1;
  /* animation: spin 1s; */
}
/* @keyframes spin {
  0% {
    transform: rotate(0deg);
    scale: 1 1 1;
  }
  50% {
    scale: 1.1 1.1 1;
  }
  100% {
    transform: rotate(360deg);
    scale: 1 1 1;
  }
} */

#galvanize-text-logo {
  /* border: 1px solid red; */
  margin-left: -50px;
  height: 2.6vw;
}

#navbar-title {
  /* border: 1px solid red; */
  color: #0d0f4a;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5em;
}
