#Students {
  /* background: linear-gradient(96deg, transparent 3.8vw, red 3vw); */
  /* height: 800px; */
}

.student-table {
  background-color: rgb(4, 103, 4);
}

.student-modal {
  position: fixed;

  z-index: 5;

  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.update-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
}

.student-modal-form {
  width: 500px;
  background-color: #fff;
}

.student-modal-header, .student-modal-buttons {
  padding: 10px;
}

.student-modal-title {
  margin: 0;
}

.student-modal-body {
  display: block;
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.input-box {
  margin: 5px;
}