#Students {
  height: auto;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.259);
}

h1 {
  font-size: 1.5em;
  margin: 0px 5px;
}

.students-block-header {
  display: flex;
  gap: 100px;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
}

.student-table {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.259);
  width: auto;
}

.table-row {
  text-align: center;
  background-color: rgba(0, 110, 255, 0.2);
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0));
}

.table-row:hover {
  background-color: rgba(255, 77, 0, 0.5);
  filter: drop-shadow(0px 15px 10px black);
}

.table-data,
.student-table-header {
  font-size: 1vw;
  padding: 5px 2vw;
  transition: all 1s ease;
}

table {
  border-spacing: 0px 3px;
  width: var(--tablewidth);
}

.student-modal {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  transition: all 2s ease-in-out;
}

.update-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
}

.student-modal-form {
  width: 25vw;
  background-color: rgba(0, 63, 131, 0.5);

  border-radius: 5px;
  border: 0.1px solid rgba(255, 255, 255, 0.5);
  filter: drop-shadow(0px 5px 1px rgba(0, 0, 0, 0.5));
  transition: all 250ms ease-in-out;
}

.student-modal-form:hover {
  filter: drop-shadow(0px 20px 5px rgba(0, 0, 0, 0.5));
  scale: 1.01 1.01 1.1;
}

.student-modal-header,
.student-modal-buttons {
  padding: 10px;
}

.student-modal-title {
  margin: 0px 15%;
  font-size: larger;
}

.student-modal-body {
  display: block;
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.input-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.input-box {
  /* all: unset; */
  color: #eee;
  background-color: rgba(0, 132, 255, 0.473);
  margin: 5px;
  /* width: auto; */
}
